/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 * 
 *  @Author:		Overhype Studios
 *  @Date:			24.01.2017 / Reworked: 26.11.2017
 *  @Description:	Character Screen CSS
 */

.squad-screen
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	
	overflow: hidden;
}

.squad-screen > img
{
    position: absolute;
    z-index: 1;
}

.squad-screen .squad-screen-statuetes
{
    width: 142.1rem;
	height: 90.6rem;

	/*left: -22.0rem;
	right: 21.5rem;
	top: -11.9rem;
	bottom: -0.5rem;*/

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	position: absolute;
    z-index: 2;
	margin: auto;

    background-image: url("coui://gfx/ui/skin/background_inventory.png");
    background-size: 142.1rem 90.6rem;
    background-repeat: no-repeat;
}


.squad-screen .squad-screen-container
{
	/*left: -1.0rem;
	right: 0;
	top: 0;
	bottom: -0.5rem;*/

	left: 20.9rem;
	top: 12.5rem;
	right: 17.6rem;

	width: 103.9rem;
	height: 78.2rem;

	position: absolute;

   /* z-index: 2;*/
	/*margin: auto;*/

    /*background-image: url("coui://gfx/ui/skin/background_inventory.png");
    background-repeat: no-repeat;*/
}

/* 
	Enable Border Box Model 
*/
.squad-screen .squad-screen-container *
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.squad-screen .squad-screen-container .l-left-content-container
{
	/*background-color: #ABC;*/
	
	top: 0;
	left: 0;
	bottom: 0;
	width: 34.0rem;
	position: absolute;
}

.squad-screen .squad-screen-container .l-right-content-container
{
	/*background-color: #CBA;*/

	top: 0;
	left: 34.0rem;
	right: 0;
	bottom: 0;
	position: absolute;
}