.ui-control.dialog-modal-background-dark
{
	background-color: rgba(0, 0, 0, 0.75);

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index : 1;
}

.ui-control.dialog-new
{
	background-image: none;
}

.text-font-medium-dialog
{
    font-size: 18px !important;
}

.world-event-screen > .l-dialog-container-custom
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50.0rem;
    position: absolute;
    margin: auto;
    z-index: 2;
    margin-right: 50px;
    top: 10%;
}

.margin-adjustment
{
    margin-top: 33%;
}

.world-event-screen > .l-dialog-container
{
    margin-top: -24px;
}


.ui-control.button-5, 
.ui-control.button-5:hover,
.ui-control.button-5.is-selected,
.ui-control.button-5.is-active,
.ui-control.button-5[disabled],
.ui-control.button-5[disabled]:hover,
.ui-control.button-5[disabled]:active {
	background-size: 50.0rem 4.3rem;
}

.world-event-content .description img
{
    padding-right: 5px;
}










/* .character-screen-container .scroll-container .l-perk-container .perk-image-layer
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 4.95rem;
    height: 4.95rem;
    position: absolute;
    margin: auto;
    z-index: 2;
} */