/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 * 
 *  @Author:		Overhype Studios
 *  @Date:			24.05.2017 / Reworked: 26.11.2017
 *  @Description:	Left Panel Module CSS
 */


.squad-screen-container .left-panel-module
{
	width: 100%;
	height: 100%;
	float: left;

    /*border-right: 1px rgba(130, 130, 130, 1) solid;*/
}