/*
 *  @Project:	   Battle Brothers
 *  @Company:	   Overhype Studios
 *
 *  @Copyright:	 (c) Overhype Studios | 2013 - 2020
 *
 *  @Author:		Overhype Studios
 *  @Date:		  24.01.2017 / Reworked: 26.11.2017
 *  @Description:   Brothers List Module CSS
 */

.squad-screen-container .brothers-list-module
{
	width: 100%;
	height: 25.2rem;
	position: relative;
	float: left;

	margin-top: 1.2rem;
}

.squad-screen-container .brothers-list-module .l-list-container
{
	top: 0;
	left: 0.9rem;
	right: 0;
	bottom: 0;
	position: absolute;
}
.squad-screen-container .brothers-list-module .l-list-container2
{
	position: relative;
	top: 25.5rem;
	width: 190rem;
	left: -86rem;

	height: 30rem;
	overflow: auto; 
}



.squad-screen-container .brothers-list-module .l-list-container .scroll-container
{
	margin-bottom: 0.4rem;
}

.squad-screen-container .brothers-list-module .l-list-container2 .l-list-container2-scroll
{
	margin-bottom: 0.4rem;
}

.squad-screen-container .brothers-list-module .frontline-count-container
{
	top: -3.0rem;
	right: 3.0rem;
	bottom: 0;
	width: 12.6rem;
	height: 2.4rem;
	position: absolute;

	z-index: 10;
}

.squad-screen-container .brothers-list-module .frontline-count-container img
{
	top: 0;
	left: 0;
	bottom: 0;
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	margin: auto;
}

.squad-screen-container .brothers-list-module .frontline-count-container .label
{
	top: 0;
	left: 2.6rem;
	bottom: 0;
	width: 10.0rem;
	height: 2.0rem;
	position: absolute;
	margin: auto;

	line-height: 2.0rem;
	text-align: left;
}

.squad-screen-container .brothers-list-module .roster-count-container
{
	top: -3.0rem;
	right: -4.0rem;
	bottom: 0;
	width: 12.6rem;
	height: 2.4rem;
	position: absolute;

	z-index: 10;
}

.squad-screen-container .brothers-list-module .roster-count-container img
{
	top: 0;
	left: 0;
	bottom: 0;
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	margin: auto;
}

.squad-screen-container .brothers-list-module .roster-count-container .label
{
	top: 0;
	left: 2.6rem;
	bottom: 0;
	width: 3.5rem;
	height: 2.0rem;
	position: absolute;
	margin: auto;

	line-height: 2.0rem;
	text-align: left;
}

.squad-screen-container .brothers-list-module .l-start-battle-button
{
	bottom: 1.2rem;
	left: 27.5rem;
	width: 17.5rem;
	height: 4.3rem;
	position: absolute;
	line-height: 3.0rem;
}








.squad-screen-container .brothers-list-module .filter-panel
{
    position: absolute;
    left: 2.0rem;
    top: 0.8rem;
    z-index: 10;
}

.squad-screen-container .brothers-list-module .filter-panel .l-button
{
	width: 5.2rem;
	height: 4.1rem;
	position: absolute;

    line-height: 2.6rem;
}

.squad-screen-container .brothers-list-module .squad-panel
{
	top: -4.0rem;
	left: 0rem;
	bottom: 0;
	height: 2.4rem;
	position: absolute;
	z-index: 10;
	display: flex;
}



.squad-screen-container .brothers-list-module .squad-panel .x-button
{
	width: 4.6rem;
	height: 3.3rem;
}

.squad-screen-container .brothers-list-module .squad-panel .x-button .label
{
	top: 0.35rem;
}


.squad-screen-container .brothers-list-module .squad-panel .l-button
{
	width: 4.6rem;
	height: 3.3rem;
}

.squad-screen-container .brothers-list-module .squad-panel .l-button .label
{
	top: 0.35rem;
}

.squad-screen-container .brothers-list-module .squad-panel .l-button .is-not-occupied
{
    color: #a7a7a7;
}

.squad-screen-container .brothers-list-module .squad-panel .l-button .is-locked
{
    color: #a70355;
	background-image: url("coui://gfx/ui/skin/button_03_inactive.png");
    background-size: 5.2rem 4.1rem;
}

.squad-screen-container .brothers-list-module .squad-panel .l-button .select
{
    color: #03a763 !important;
}