/*
 *  @Project:	   Battle Brothers
 *  @Company:	   Overhype Studios
 *
 *  @Copyright:	 (c) Overhype Studios | 2013 - 2020
 *
 *  @Author:		Overhype Studios
 *  @Date:		  24.01.2017 / Reworked: 26.11.2017
 *  @Description:   Brothers List Module CSS
 */

.squad-screen-container .brothers-list-module
{
	width: 100%;
	height: 25.2rem;
	position: relative;
	float: left;

	margin-top: 1.2rem;
}

.squad-screen-container .brothers-list-module .l-list-container
{
	top: 0;
	left: 0.9rem;
	right: 0;
	bottom: 0;
	position: absolute;
}

.squad-screen-container .brothers-list-module .l-list-container .scroll-container
{
	margin-bottom: 0.4rem;
}

.squad-screen-container .brothers-list-module .frontline-count-container
{
	top: -3.0rem;
	right: 3.0rem;
	bottom: 0;
	width: 12.6rem;
	height: 2.4rem;
	position: absolute;

	z-index: 10;
}

.squad-screen-container .brothers-list-module .frontline-count-container img
{
	top: 0;
	left: 0;
	bottom: 0;
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	margin: auto;
}

.squad-screen-container .brothers-list-module .frontline-count-container .label
{
	top: 0;
	left: 2.6rem;
	bottom: 0;
	width: 10.0rem;
	height: 2.0rem;
	position: absolute;
	margin: auto;

	line-height: 2.0rem;
	text-align: left;
}

.squad-screen-container .brothers-list-module .roster-count-container
{
	top: -3.0rem;
	right: -4.0rem;
	bottom: 0;
	width: 12.6rem;
	height: 2.4rem;
	position: absolute;

	z-index: 10;
}

.squad-screen-container .brothers-list-module .roster-count-container img
{
	top: 0;
	left: 0;
	bottom: 0;
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	margin: auto;
}

.squad-screen-container .brothers-list-module .roster-count-container .label
{
	top: 0;
	left: 2.6rem;
	bottom: 0;
	width: 10.0rem;
	height: 2.0rem;
	position: absolute;
	margin: auto;

	line-height: 2.0rem;
	text-align: left;
}

.squad-screen-container .brothers-list-module .l-start-battle-button
{
	bottom: 1.2rem;
	left: 27.5rem;
	width: 17.5rem;
	height: 4.3rem;
	position: absolute;
	line-height: 3.0rem;
}